.registration-layout {
  max-width:620px;
  margin:15px auto;
}

.registration-help {
  font-size:13px;
  margin:23px 0;
}

.registration-help i {
  margin-right:5px;
}

.back-link {
  font-size:13px;
  text-decoration:underline;
  text-underline-offset:4px;
}
